<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <queries>
        <package android:name="com.google.android.apps.maps" />
        <!-- Add more packages as needed -->
    </queries>

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyA582883yurIhpxcYWZcLr6b_a7tQMDPBI" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NUMAD24Sp_Group4UniLink"
        tools:targetApi="31">
        <activity
            android:name=".messages.ChatActivity"
            android:exported="false"/>
        <activity
            android:name=".Attendees.AttendeesActivity"
            android:exported="false" />
        <activity
            android:name=".comments.CommentsActivity"
            android:exported="false" />
        <activity
            android:name=".community.ViewACommunity"
            android:exported="false" />
        <activity
            android:name=".events.ViewEventActivity"
            android:exported="false" />
        <activity
            android:name=".CreatePost"
            android:exported="false" />
        <activity
            android:name=".events.CreateEvent"
            android:exported="false" />
        <activity
            android:name=".groups.CreateGroup"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileActivity"
            android:launchMode="singleTop"
            android:exported="false" />

        <activity
            android:name=".messages.MessagesActivity"
            android:exported="false" />
        <activity
            android:name=".groups.GroupsActivity"
            android:launchMode="singleTop"
            android:exported="false" />
        <activity
            android:name=".events.EventsActivity"
            android:launchMode="singleTop"
            android:exported="false" />
        <activity
            android:name=".events.EditEvent"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".profile.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>